.emoticon::before {
	display: inline-block;
	position: relative;
	content: '';
	will-change: transform;
	transform-origin: left top;
	animation-iteration-count: infinite;
	animation-name: SpriteComponentAnimation;
}

.emoticon.emoticon-skype-smile::before {
	width: 80px;
	height: 4240px;
	background-image: url(https://static-asm.secure.skypeassets.com/pes/v1/emoticons/smile/views/default_80_anim_f);
	background-size: 80px 4240px;
	transform: translate3d(0px, -4240px, 0px);
	animation-duration: 2.20833s;
	animation-timing-function: steps(53);
}

/*.emoticon-skype-sad {
	display: inline-block;
	width: 80px;
	height: 5040px;
	background-image: url(https://static-asm.secure.skypeassets.com/pes/v1/emoticons/sad/views/default_80_anim_f);
	background-size: 80px 5040px;
	will-change: transform;
	transform: translate3d(0px, -5040px, 0px);
	transform-origin: left top;
	animation: 2.625s steps(63) 0s infinite normal none running SpriteComponentAnimation;
}

.emoticon-skype-sad {
	display: inline-block;
	width: 80px;
	height: 6160px;
	background-image: url(https://static-asm.secure.skypeassets.com/pes/v1/emoticons/laugh/views/default_80_anim_f);
	background-size: 80px 6160px;
	will-change: transform;
	transform: translate3d(0px, -6160px, 0px);
	transform-origin: left top;
	animation: 3.20833s steps(77) 0s infinite normal none running SpriteComponentAnimation;
}*/

@-webkit-keyframes SpriteComponentAnimation {
	0% {
		transform: translate3d(0,0,0)
	}
}

@keyframes SpriteComponentAnimation {
	0% {
		transform: translate3d(0,0,0)
	}
}