.fullscreen {
	position: absolute;
	width: 640px;
	height: 480px;
	background-color: #000;
	z-index: 1;
}

.logo {
	position: relative;
	top: 70px;
	width: 640px;
	height: 100px;
}

.menu {
	position: relative;
	top: 60px;
	left: 30px;
	list-style: none;
}

.menu li {
	margin-bottom: 7px;
}

.menu li:last-child {
	margin-bottom: 0;
}

.menu li button {
	background: none;
	border: 0;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	color: #ffc241;
	outline: none;
}

.menu li button:hover {
	color: #ffff5a;
	text-shadow: 0 0 3px #e19d26;
	-webkit-transition: text-shadow 1s ease;
	-moz-transition: text-shadow 1s ease;
	-o-transition: text-shadow 1s ease;
	transition: text-shadow 1s ease;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}